Bio==1.2.2
Flask==2.0.2
Werkzeug==2.0.2
argon2==0.1.10
argon2_cffi==18.3.0
beautifulsoup4==4.10.0
coloredlogs==10.0
dash==2.0.0
dash_bio==0.7.1
dataclasses==0.8
ftfy==5.5.0
matplotlib==3.0.2
numpy==1.15.4
pandas==0.23.4
plotly==5.3.1
python_Levenshtein==0.12.2
requests==2.20.1
scikit_learn==1.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
